@model IEnumerable<HelloWorld.Models.UserProfile>

<div id="UserList">
    <div class="panel-group" id="accordion">
        @foreach (var item in Model)
        {
            if (item.Books.Count != 0)
            {
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse_@item.UserId">@Resources.Resource.User : @item.UserName
                        </a>
                    </h4>
                </div>
                <div id="collapse_@item.UserId" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div>@Resources.Resource.Books: </div>
                        @foreach (var it in item.Books)
                        {
                            <div>
                                @Html.ActionLink(@it.BookName, "Chapters", "Book", new { id = it.BookId }, null)
                            </div>
                        }
                    </div>
                </div>
            </div>
            }
        }
    </div>
</div>