@model HelloWorld.Models.LocalPasswordModel
@{
    ViewBag.Title = Resources.Resource.ManageAcc;
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<p class="message-success">@ViewBag.StatusMessage</p>

<p>@Resources.Resource.YouEntered<strong>@User.Identity.Name</strong>.</p>

@if (ViewBag.HasLocalPassword)
{
    @Html.Partial("_ChangePasswordPartial")
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
