@model IEnumerable<HelloWorld.Models.UserProfile>

@{
    ViewBag.Title = "Home Page";
}

@foreach (var item in Model)
{
    <hr />
    <div>
        <h4>@Resources.Resource.User : @item.UserName</h4>
        <div>@Resources.Resource.Books: </div>
        @foreach(var it in  item.Books)
        {
            <hr />
            @Html.ActionLink(@it.BookName, "Chapters", "Book",new {id = it.BookId},null)
        }
        
    </div>
}