@model HelloWorld.Models.Chapter

@{
    ViewBag.Title = Resources.Resource.ReadChapter;
}

<h2>
    @Resources.Resource.Chapter:
    @Html.DisplayFor(model => model.ChapterName)
</h2>
<p>
    <a href="~/Book/ChapterEdit/@Model.ChapterId" class="btn btn-warning">@Resources.Resource.Edit</a> |
    <a href="~/Book/ChapterTextEdit/@Model.ChapterId" class="btn btn-success">@Resources.Resource.EditText</a> |
    <a href="~/Book/Chapters/@Model.BookId" class="btn btn-danger">@Resources.Resource.BackToList</a>

</p>

@(Html.Raw(ViewData["Content"]))


<hr />
