@model HelloWorld.Models.Chapter

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Chapter</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.ChapterName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ChapterName)
            @Html.ValidationMessageFor(model => model.ChapterName)
        </div>
        <p>
            <input type="hidden" value=" @(new{id = @ViewBag.BookId})" />
            <input type="submit" class="btn btn-success" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Chapters", new {id = ViewBag.BookId})
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
