@model HelloWorld.Models.Chapter

@{
    ViewBag.Title = Resources.Resource.Delete;
}

<h3>@Resources.Resource.SureornotChapter</h3>

    <h2>
        @Html.DisplayFor(model => model.ChapterName)
    </h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" class="btn btn-success" value="@Resources.Resource.Delete" />
        <a href="~/Book/Chapters/@Model.BookId" class="btn btn-danger">@Resources.Resource.BackToList</a>
    </p>
}
