@model HelloWorld.Models.Chapter

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Chapter</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ChapterName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ChapterName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ChapterContent)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ChapterContent)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BookId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BookId)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Chapters", new {id = Model.BookId})
    </p>
}
