@model IEnumerable<HelloWorld.Models.Chapter>

@{
    ViewBag.Title = @Resources.Resource.Chapters;
}


<p>
    <a href="~/Book/ChapterCreate/@ViewBag.BookId" class="btn btn-default">@Resources.Resource.AddChapter</a>
</p>
<table class="table-hover">
    <thead>
        <tr>
            <th>
                @Resources.Resource.ChapterName
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ChapterName)
                </td>
                <td>
                  <a href="~/Book/ChapterEdit/@item.ChapterId" class="btn btn-warning">@Resources.Resource.Edit</a> |
                    <a href="~/Book/ChapterDetails/@item.ChapterId" class="btn btn-success">@Resources.Resource.ReadChapter</a> |
                    <a href="~/Book/ChapterDelete/@item.ChapterId" class="btn btn-danger">@Resources.Resource.Delete</a>
                </td>
            </tr>
        </tbody>
    }

</table>
