@model HelloWorld.Models.Book

@{
    ViewBag.Title = Resources.Resource.CreateBook;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>@Resources.Resource.CreateBook</legend>

        <p class="col-lg-3 control-label">@Resources.Resource.BookName</p>
        <div class="col-lg-8">
            @Html.TextBoxFor(model => model.BookName, new { @class = "form-control", @placeholder = @Resources.Resource.BookName })
            @Html.ValidationMessageFor(model => model.BookName)
        </div>
        <div class="col-lg-10 col-lg-offset-6">
            <input type="submit" class="btn btn-success" value="@Resources.Resource.CreateBook" />
        </div>
    </fieldset>
}


<a href="~/Book" class="btn btn-danger">@Resources.Resource.BackToList</a>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
