@model HelloWorld.Models.Book

@{
    ViewBag.Title = Resources.Resource.Delete;
}

<h5>@Resources.Resource.Sureornot</h5>
<fieldset>
    <h2>
        
        
        @Html.DisplayFor(model => model.BookName)
  
    </h2>
    
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" class="btn btn-success" value="@Resources.Resource.Delete" /> |
        <a href="~/Book" class="btn btn-danger">@Resources.Resource.BackToList</a>
    </p>
}
